body {
  background-image: url('../assets/img/20.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.preview-image img {
  width: 5em;
}

